{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="detail_content rounded">
    {% if scanned_supplier%}
        <div class="name">
            <h3>{{ scanned_supplier.name }}</h3>
            <h3><a href="https://{{ scanned_supplier.website }}">{{ scanned_supplier.website }}</a></h3>
        </div>
        <div class="image">
            <img src="{% static scanned_supplier.logo %}" class="rounded float-end" alt="test">
        </div>
        <form action="{% url 'back' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="back" class="back btn btn-light">Go Back</button>
        </form>
    {% else %}
        <h2 class="detail_error">Sadly no data could be found regarding this company.</h2>
        <form action="{% url 'back' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="back" class="back btn btn-light">Go Back</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
